In [1]:
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials
from nsetools import Nse


xlrow = 1
xlcol = 1

# defining the scope of the application
scope_app =['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive'] 

#credentials to the account
cred = ServiceAccountCredentials.from_json_keyfile_name('E:/Abhyasana/TradeMojo/trademojoalgo-17e2df8912fd.json',scope_app) 

# authorize the clientsheet 
client = gspread.authorize(cred)
# get the sample of the Spreadsheet
sheet = client.open('TradeMojo_Algo')

# get the first sheet of the Spreadsheet
sheet_instance = sheet.get_worksheet(0)

nse=Nse()
Gainers=nse.get_top_gainers()
Gainers=pd.DataFrame(Gainers)
Losers=nse.get_top_losers()
Losers=pd.DataFrame(Losers)
BUY=[x for x in Gainers['symbol']]
LTP=[x for x in Gainers['ltp']]
SELL=[x for x in Losers['symbol']]
for x in range(len(BUY)):
    #print(BUY[x])
    sheet_instance.update_cell(xlrow+1, xlcol, BUY[x])
    sheet_instance.update_cell(xlrow+1, xlcol+7, LTP[x])
    #sheet_instance.update_cell(xlrow+1, xlcol+8, nse.get_stock_codes(BUY[x]))
       
    
    xlrow = xlrow +1
    

# (Column, Row)
#sheet_instance.update_cell(2, 1, "BIDEN VOTES")

# get all the records of the data
records = sheet_instance.get_all_values()

# view the data
records

# convert the json to dataframe
records_df = pd.DataFrame.from_dict(records)

# view the top records
records_df.head()

,0,1,2,3,4,5,6,7,8,9
0,Symbol,Current Day,Previous Day High,Previous Day Low,Open,High,Low,LTP,Lot Size,Status
1,BAJAJFINSV,2022-06-13,,,16690,16857.85,16540,11788,,
2,BAJFINANCE,2022-06-13,,,2168,2217,2156,5428,,
3,COALINDIA,2022-06-13,,,,,,183.95,,
4,JSWSTEEL,,,,,,,557.35,,

In [2]:
records_df

,0,1,2,3,4,5,6,7,8,9
0,Symbol,Current Day,Previous Day High,Previous Day Low,Open,High,Low,LTP,Lot Size,Status
1,BAJAJFINSV,2022-06-13,,,16690,16857.85,16540,11788,,
2,BAJFINANCE,2022-06-13,,,2168,2217,2156,5428,,
3,COALINDIA,2022-06-13,,,,,,183.95,,
4,JSWSTEEL,,,,,,,557.35,,
5,RELIANCE,,,,,,,2605.05,,
6,ICICIBANK,,,,,,,689,,
7,HDFCBANK,,,,,,,1296.7,,
8,ITC,,,,,,,263.5,,
9,APOLLOHOSP,,,,,,,3702,,
10,GRASIM,,,,,,,1292.65,,